.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.heart {
	color: #ff0000;
}

.small {
	font-size: 0.75rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
	/* margin-bottom: 10px; */
}

li button {
	margin-left: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0062cc;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

li button {
	margin-left: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #0062cc;
}
