.top-div {
	margin: 30px auto;
	max-width: 600px;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.last-div label {
	display: inline-block;
	width: 100px;
}

.last-div input {
	padding: 5px;
	width: 200px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

li span {
	margin-bottom: 5px;
}

li button {
	margin-left: 30px;
}

/* This aligns the buttons to be next to eachother in an "li (list item)" */
.edit-button {
	margin-right: -25px;
	margin-inline-start: auto;
}

.last-div {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
}

.delete-button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 3px;
}

.delete-button:hover {
	background-color: #ff6666;
}

button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 5px;
	border-radius: 3px;
}

button:hover {
	background-color: #80d692;
}
